<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="GS295_DXB_100ConnectionString" connectionString="metadata=res://*/DelevaryNote.csdl|res://*/DelevaryNote.ssdl|res://*/DelevaryNote.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=200.100.101.171\SQLExpress;initial catalog=GS295_DXB_100;persist security info=True;user id=sa;password=Pass@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 
    </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GetOnhandQuantitySoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://200.100.100.23/hisense/GetOnhandQuantity.asmx"
        binding="basicHttpBinding" bindingConfiguration="GetOnhandQuantitySoap"
        contract="ERPServiceReference.GetOnhandQuantitySoap" name="GetOnhandQuantitySoap" />
    </client>
  </system.serviceModel>
</configuration>